<section>
    <article>
        <div class="row">
            <div class="col-12">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <div>
                            <span>Total Periodo</span>
                            <span>15850000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div>
                    <strong>Detalle Individual</strong>
                </div>
                <form>
                    <table style="width: 100%;" class="table" [mfData]="detalleDeudaUnidadList" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead class="table-dark">
                            <tr>
                                <th style="width: 10%">
                                    <mfDefaultSorter by="item">Unidad</mfDefaultSorter>
                                </th>
                                <th style="width: 30%">
                                    <mfDefaultSorter by="monto">Responsable</mfDefaultSorter>
                                </th>
                                <th style="width: 5%">
                                    <mfDefaultSorter by="item">% Prorrateo</mfDefaultSorter>
                                </th>
                                <th style="width: 15%">
                                    <mfDefaultSorter by="monto">Monto Actual</mfDefaultSorter>
                                </th>
                                <th style="width: 15%">
                                    <mfDefaultSorter by="item">Monto Anterior</mfDefaultSorter>
                                </th>
                                <th style="width: 15%">
                                    <mfDefaultSorter by="monto">Total Periodo</mfDefaultSorter>
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let detalle of mf.data; let i = index">
                                <td>{{detalle.unidad.numero}}</td>
                                <td>{{detalle.responsable}}</td>
                                <td>{{detalle.factorProrrateo | number:'1.3-3'}}</td>
                                <td>{{detalle.monto | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
                                <td>{{detalle.montoAnterior | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
                                <td>{{detalle.montoTotal | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
                                <td><button class="btn btn-outline-success">Detalle</button></td>
                                <td><button (click)="abonar(detalle)" class="btn btn-outline-success">Abonar</button></td>
                            </tr>
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
        </div>
    </article>
</section>