

<div class="elementos">
    <a routerLink="/main/roles">Volver</a>
    <br><br>
    <form action="/action_page.php">
        Nombre:<br>
        <input type="text" name="firstname">
        <br>
        Decripcion:<br>
        <input type="text" name="lastname">
        <br><br>
        
        </form>
</div>
<div class="listaAgregar">
    <dual-list [source]="permisosDisponibles" key="codigo" display="nombre" [(destination)]="rolSeleccionado.permisos"></dual-list>
    <br><br>
    <input type="submit">
</div>
