<article>

  <div class="contenedor_">
    <a routerLink="/main/comunidad">Volver</a>
    <div class="centrar_">

      <h5>Asignación de unidades </h5>
      <br>
      <form [formGroup]="formAsignacion">
        <div class="card border-info mb-3" style="width: 100%;">
          <div class="card-body">
        <div class="row">
          <div class="col-12">
           
            <div *ngIf="formConErrores">
              <div class="warning">Ingrese todos los datos</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              Seleccionar Persona
              <ng-autocomplete #auto [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)'
                (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate" [debounceTime]="500">
              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
            <div class="form-group">
              Condición
              <select formControlName="tipoAsignacion">
                <option>Seleccione...</option>
                <option *ngFor="let t of tipoAsignacionList" [ngValue]="t.cod">{{t.alias}}</option>
              </select>
            </div>
            <div class="form-group">
              Estado
              <select formControlName="estadoAsignacion">
                <option>Seleccione...</option>
                <option *ngFor="let t of estadoAsignacionList" [ngValue]="t.cod">{{t.alias}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-7" *ngIf="!unidadCopropietarioYaSeleccionada">
            <p>Seleccionar unidad de copropiedad</p>
            <select style="width: 100%;" formControlName="unidadCopropiedadSeleccionada">
              <option *ngFor="let unidad of unidadesCopropiedadDisponibles" [ngValue]="unidad">
                {{unidad.tipoUnidad.nombre + ' ' + unidad.numero + ', piso ' + unidad.piso + ', sector ' +
                unidad.sector}}
              </option>
            </select>
            <br>
            <br>
            <button class="btn btn-outline-success" (click)="agregarUnidadCopropiedad()">Agregar</button>
            <div *ngIf="unidadCopropietarioYaSeleccionada">
              <strong>{{nuevaAsignacion.asignacionUnidades[0].unidad.tipoUnidad.nombre + ' ' +
                nuevaAsignacion.asignacionUnidades[0].unidad.numero}}</strong>
            </div>
          </div>
          <!-- <div class="row"> -->
          <div class="col-7" *ngIf="unidadCopropietarioYaSeleccionada">
            <p>Seleccionar unidades adicionales</p>
            <select style="width: 100%;" class="seleccionUnidad" multiple formControlName="unidadesSeleccionadas">
              <option *ngFor="let unidad of unidadesDisponibles" [ngValue]="unidad">
                {{unidad.tipoUnidad.nombre + ' ' + unidad.numero + ', piso ' + unidad.piso + ', sector ' +
                unidad.sector}}
              </option>
            </select>
            <br>
            <br>
            <button class="btn btn-outline-success" (click)="agregarUnidadesAdicionales()">Agregar</button>
          </div>



          <!-- </div> -->
          <div class="col-5">
            Resumen:
            <div>
              <div *ngFor="let asignacionUnidad of nuevaAsignacion.asignacionUnidades">
                {{asignacionUnidad.unidad.tipoUnidad.nombre + ', ' + asignacionUnidad.unidad.numero + ' ' +
                asignacionUnidad.unidad.piso + ' ' + asignacionUnidad.unidad.sector}}
                <button class="btn btn-outline-success" (click)="quitarUnidad(asignacionUnidad)" title="Eliminar"><i class="fa fa-times"
                    aria-hidden="true"></i></button>
              </div>
            </div>
            <br>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
        <div class="row">
          <button class="btn btn-outline-primary" (click)="guardar()">Guardar Asignacion</button>
        </div>
      </form>
    </div>
  </div>
</article>