<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(images/bg-01.jpg);">
                <span class="login100-form-title-1">
                    <h2> GEDEF</h2>
                </span>
            </div>

            <form method="POST" [formGroup]="loginForm" (ngSubmit)="autenticar()" class="login100-form validate-form">
                <div *ngIf="loginError">Usuario o password invalido</div>
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">Usuario</span>
                    <input class="input100" type="text" formControlName="userName" id="username" name="username" placeholder="Ingresar usuario" autocomplete="username">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                    <span class="label-input100">Contraseña</span>
                    <input class="input100" type="password" formControlName="password" id="pass" name="pass" placeholder="Ingresar contraseña" autocomplete="current-password">
                    <span class="focus-input100"></span>
                </div>

                <!--  <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Recordarme
                        </label>
                    </div>

                    <div>
                        <a href="#" class="txt1">
                            ¿Olvidó su contraseña?
                        </a>
                    </div>
                </div>-->
                <br>
          
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Entrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
