<div class="container">
    <div class="elementos">
        <h3>Agregar Usuarios</h3>

        <form [formGroup]="formUsuarios">
            <p>Nombre: <input type="text" formControlName="nombreUsuario" name="nombre" required></p>
            <p>Contraseña: <input type="text" formControlName="contrasena" name="constrasena" required></p>
            <p>Perfiles:
                <select formControlName="rol">

                    <option id="">Seleccione</option>
                    <option *ngFor="let rol of roles" [ngValue]="rol.idRol">{{rol.nombre}}</option>
                </select>
            </p>
        </form>
        <button (click)="guardarUsuario()">Guardar</button>

    </div>
   
</div>