<meta name="viewport" content="width=device-width, initial-scale=1">

<header>
    <h2> <img class="imgHd" src="/assets/img/icon.jpg" style="width: 4em"><br>GEDEF</h2>
</header>
<div class="barraAutenticacion">
<div *ngIf="user" class="pull right" style="right: 0;">
    &nbsp; &nbsp;{{user.nombreUsuario}}&nbsp;<fa name="cog" animation="spin"></fa> &nbsp; &nbsp;{{user.rol}}
    &nbsp; &nbsp;
    <a href="#" (click)="cerrarSesion($event)"  title="cerrarSesion"><fa name="sign-out"></fa></a> &nbsp;
</div>
</div>
<ul class="list2">
    <li [privilegio]="'P12'" class="list"><a href="#" routerLink="comunidad">Comunidad</a></li>
    <li [privilegio]="'P09'" class="list"><a href="#" routerLink="gastos-comunes">Gastos comunes</a></li>
    <li [privilegio]="'P10'" class="list"><a href="#">Zonas Comunes</a></li>
    <li [privilegio]="'P11'" class="list"><a href="#">Mantención y reparaciones</a></li>
    <li [privilegio]="'P11'" class="list"><a href="#">Comunicados</a></li>
    <li [privilegio]="'P07'" class="list"><a routerLink="usuarios">Usuarios</a></li>
    <li [privilegio]="'P08'" class="list"><a routerLink="roles">Perfiles</a></li>
</ul>
<router-outlet></router-outlet>