<!-- <div>
    <a routerLink="usuarios">Comunidad</a>
</div>
<div>
    <a routerLink="roles">Condominio</a>
</div>
<div>
    <a routerLink="usuarios">Gastos Comunes</a>
</div>
<div>
    <a routerLink="roles">Pagos</a>
</div> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<header>
    <h2>BuildManager</h2>
  </header>
  <ul class="list2">
    <li class="list"><a class="active" href="#home">Home</a></li >
    <li class="list"><a routerLink="usuarios">Usuarios</a></li>
    <li class="list"><a routerLink="roles">Roles</a></li>
    <li class="list"><a href="#">Gastos comunes</a></li>
    <li class="list"><a href="#">Zonas Comunes</a></li>
    <li class="list"><a href="#">Mantención y reparaciones</a></li>
    <li class="list"><a href="#">Gestion comunitaria</a></li>
  </ul>
  
      <router-outlet></router-outlet>  
<article>
    
</article>
  <footer>
    <p>Desarrollo.com</p>
  </footer>
