<div class="contenedorPerfil">
    <div class="centrar">
      <h3>Perfiles</h3>
      <table class="table">
        <thead class="table-dark">
        <tr>
          <th>Nombre Perfil</th>
          <th></th>
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let rol of roles">
            <td>{{rol.nombre}}</td>
            <td>
              <div>
                <button class="btn btn-outline-primary" (click)="editarRol(rol, $event)" title="Editar"> <i class="fa fa-pencil"
                    aria-hidden="true"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>