<article>
    <div class="contenedor_">
        <a routerLink="/main/abonos">Volver</a>
        <div class="centrar_">
        </div>
    </div>
        <div class="row">
            <div class="col-10">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <div>
                            <span>Unidad: {{detalleDeuda.unidad.numero}}</span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div>
                <strong>Detalle deuda unidad</strong>
            </div>
            <form [formGroup]="detalleDeudaUnidad">
                <div class="card border-info mb-3" style="width: 100%;">
                    <div class="card-body">
                        <span>Deuda: {{detalleDeuda.montoTotal | currency : 'USD' : 'symbol' : '1.0-0'}}</span>    
                    </div>
                </div>
            </form>
        </div>
</article>
