<section>
    <nav>
        <ul>
            <li routerLinkActive="active" ><a routerLink="all" >
                    <p class="centrar" class="text-primary centrar">Copropiedades</p>
                </a></li>
            <li routerLinkActive="active"><a routerLink="personas">
                    <p class="centrar" class="text-primary centrar">Personas</p>
                </a></li>

            <!-- <li><a href="#"></a></li> -->
        </ul>
    </nav>

    <router-outlet></router-outlet>
</section>