<section>
    <article>
        <a href="#" routerLink="/main/gastos-comunes">Volver</a>

        <div class="row">
            <div class="col-12">
                Gasto Comun Periodo <strong style="font-size: larger;">{{gastoComun.periodo | date : 'MMMM yyyy' :
                    locale : 'es-AR'}}</strong>
            </div>
            <div class="col-8">
                <br>
                <div class="card border-info mb-3" style="width: 100%;">
                    <div class="card-body">
                        <div > 
                            <strong>Detalle Gastos</strong>
                        </div>
                        <table style="width: 100%;" class="table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 60%">Concepto</th>
                                    <th style="width: 20%">Monto</th>
                                    <th style="width: 20%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="3" style="color:dodgerblue"><b>Gastos Ordinarios</b></td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <table class="table table-hover" [mfData]="gastosOrdinariosList"
                                            #listOrdinarios="mfDataTable">
                                            <tbody>
                                                <tr *ngFor="let itemPlantilla of listOrdinarios.data; let i = index">
                                                    <td style="width: 60%">{{itemPlantilla.itemGastoComun.nombre}}</td>
                                                    <td style="width: 20%">{{itemPlantilla.monto | currency:'USD' :
                                                        'symbol' : '1.0-0'}}</td>
                                                    <td style="width: 20%;">
                                                        <!-- <button class="Botones"
                                                    (click)="eliminarItemGasto(detalle.idDetalleGastoComun)"><i class="fa fa-times"
                                                    aria-hidden="true"></i>
                                                </button> -->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:dodgerblue"><b>Gastos Extraordinarios</b></td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <table class="table table-hover" [mfData]="gastosExtraordinariosList"
                                            #listExtraordinarios="mfDataTable">
                                            <tbody>
                                                <tr *ngFor="let item of listExtraordinarios.data; let i = index">
                                                    <td style="width: 60%">{{item.itemGastoComun.nombre}}</td>
                                                    <td style="width: 20%">{{item.monto | currency:'USD' : 'symbol' :
                                                        '1.0-0'}}</td>
                                                    <td style="width: 20%;">
                                                        <!-- <button class="Botones"
                                                    (click)="eliminarItemGasto(detalle.idDetalleGastoComun)"><i class="fa fa-times"
                                                    aria-hidden="true"></i></button> -->
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <br>
                <div class="card border-info mb-3" style="width: 100%;">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-bold">Resumen</h6>
                        <div>
                            <span>Total Periodo {{sumaParcial | currency:'USD' : 'symbol' : '1.0-0'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12">
                <button class="btn btn-outline-success" (click)="cerrarGastoComunPeriodo()">Cerrar periodo y generar
                    cobros</button>
            </div>
        </div>
    </article>
</section>