<article>
    <div class="contenedor__">
       
        <div class="centrar__">
            <h5>Comunidad</h5>
            <div class="row">
                <div class="col-12">
                    <a href="#" routerLink="/main/comunidad/agregar-persona">Agregar persona</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">

                    <table class="table" [mfData]="personasList" #mf="mfDataTable" [mfRowsOnPage]="10">
                        <thead class="table-dark">
                            <tr>
                                <th style="width: 20%">
                                    <mfDefaultSorter by="name">Rut</mfDefaultSorter>
                                </th>
                                <th style="width: 50%">
                                    <mfDefaultSorter by="email">Nombre</mfDefaultSorter>
                                </th>
                                <th style="width: 50%">
                                    <mfDefaultSorter by="email">Email</mfDefaultSorter>
                                </th>
                                <th style="width: 10%">
                                    <mfDefaultSorter by="age">Celular</mfDefaultSorter>
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let persona of mf.data">
                                <td>{{persona.run}}</td>
                                <td>{{persona.nombres}} {{persona.apellidoPaterno}} {{persona.apellidoMaterno}}</td>
                                <td>{{persona.correo}}</td>
                                <td class="text-right">{{persona.telefono}}</td>
                                <td>
                                    <button (click)="editar(persona)" class="btn btn-outline-success">Editar</button>
                                </td>
                                <td>
                                    <button (click)="eliminar(persona)" class="btn btn-outline-danger">Borrar</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</article>