
    <article>
        <div class="contenedorAsignacion">
            <div class="centrarAsignacion">
                <h5>Copropiedades</h5>
                <div class="row">
                    <div class="col-12">
                        <a href="#" routerLink="/main/comunidad/asignacion-unidades" color="black"> Nueva asignacion</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">

                        <table class="table" [mfData]="asignacionesList" #mf="mfDataTable"
                            [mfRowsOnPage]="10">
                            <thead class="table-dark">
                                <tr>
                                    <th style="width: 15%">
                                        <mfDefaultSorter by="name">Nombre</mfDefaultSorter>
                                    </th>
                                    <th style="width: 15%">
                                        <mfDefaultSorter by="name">Departamento</mfDefaultSorter>
                                    </th>
                                    <th style="width: 35%">
                                        <mfDefaultSorter by="name">Adicionales</mfDefaultSorter>
                                    </th>
                                    <th style="width: 10%">
                                        <mfDefaultSorter by="age">Condicion</mfDefaultSorter>
                                    </th>
                                    <th style="width: 10%">
                                        <mfDefaultSorter by="age">Estado</mfDefaultSorter>
                                    </th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let asignacion of mf.data">
                                    <td>{{asignacion.persona.nombres}}</td>
                                    <td><fa name="home"></fa>{{showUnidadCopropiedad(asignacion.unidades).numero}}</td>
                                    <td>
                                        <span *ngFor="let unidad of showUnidadesAdicionales(asignacion.unidades)">
                                            <span *ngIf="unidad.tipoUnidad.idTipoUnidad == 2"><fa name="parking"></fa>{{unidad.numero}}</span>
                                            <span *ngIf="unidad.tipoUnidad.idTipoUnidad == 3"><fa name="boxes"></fa>{{unidad.numero}}</span>
                                             
                                        </span>
                                    </td>
                                    <td>{{asignacion.tipoAsignacion}}</td>
                                    <td>{{asignacion.estado}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </article>