
    <article>
        <div class="contenedorAsignacion">
            <div class="centrarAsignacion">
                <h5>Copropiedades</h5>
                <div class="row">
                    <div class="col-12">
                        <a href="#" routerLink="/main/comunidad/asignacion-unidades">Nueva asignacion</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">

                        <table class="table table-striped" [mfData]="asignacionesList" #mf="mfDataTable"
                            [mfRowsOnPage]="10">
                            <thead>
                                <tr>
                                    <th style="width: 30%">
                                        <mfDefaultSorter by="name">Nombre</mfDefaultSorter>
                                    </th>
                                    <th style="width: 15%">
                                        <mfDefaultSorter by="name">Departamento</mfDefaultSorter>
                                    </th>
                                    <th style="width: 35%">
                                        <mfDefaultSorter by="name">Adicionales</mfDefaultSorter>
                                    </th>
                                    <th style="width: 10%">
                                        <mfDefaultSorter by="age">Condicion</mfDefaultSorter>
                                    </th>
                                    <th style="width: 10%">
                                        <mfDefaultSorter by="age">Estado</mfDefaultSorter>
                                    </th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let asignacion of mf.data">
                                    <td>{{asignacion.guestFullName}}</td>
                                    <td><fa name="home"></fa>{{showUnidadCopropiedad(asignacion.assignmentPropertyList).propertyDto.number}}</td>
                                    <td>
                                        <span *ngFor="let au of showUnidadesAdicionales(asignacion.assignmentPropertyList)">
                                            <span *ngIf="au.propertyDto.type == 'Estacionamiento'"><fa name="parking"></fa>{{au.propertyDto.number}}</span>
                                            <span *ngIf="au.propertyDto.type == 'Bodega'"><fa name="boxes"></fa>{{au.propertyDto.number}}</span>
                                             
                                        </span>
                                    </td>
                                    <td>{{asignacion.assignmentType}}</td>
                                    <td>{{asignacion.state}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </article>