<section>
  <nav>
    <ul>
      <li><a routerLink="agregar">Agregar Usuario</a></li>

      <li><a href="#"></a></li>
    </ul>
  </nav>


  <article>
    <h3>Usuarios</h3>
    <table>
      <tr>
        <th>Nombre Usuario</th>
        <th>Perfil</th>
        <th></th>
      </tr>
      <tr *ngFor="let usuario of usuarios; let i = index">
        <td>{{usuario.nombreUsuario}}</td>
        <td>
          <div class="btn">
          <ng-container *ngIf="!editarRol[i]">
            {{usuario.rol.nombre}}
            <a href="#" (click)="cambiarRolModo(i, true, $event)">Editar Perfil</a>
          </ng-container>
          <ng-container *ngIf="editarRol[i]">
            <select [(ngModel)]="nuevoRol[i]">
              <option id="">Seleccione</option>
              <option *ngFor="let rol of roles" [value]="rol.idRol">
                {{rol.nombre}}
              </option>
            </select>
            <a href="#" (click)="guardarUsuario(i, $event)">   Guardar</a>
            
            <a href="#" (click)="cambiarRolModo(i, false, $event)">  Cancelar</a>
          </ng-container>
        </div>
        </td>
        <td>
          <div *ngIf="!editarRol[i]">
            <a href="#" (click)="eliminarUsuario(i, $event)"> Eliminar</a>
          </div>
        </td>
      </tr>
    </table>

  </article>
</section>