table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: rgb(217, 239, 250);
  }

 .usuarios {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: white;
    height: 300px; /* only for demonstration, should be removed */
  }