
<section>
  <nav>
    <ul>
      <li><a routerLink="agregar">
          <p>Agregar Usuario</p>
        </a></li>

      <li><a href="#"></a></li>
    </ul>
  </nav>


  <article>
    <h3>Usuarios</h3>
    <table>
      <tr>
        <th>Nombre Usuario</th>
        <th>Perfil</th>
        <th>Acciones</th>
      </tr>
      <tr *ngFor="let usuario of usuarios; let i = index">
        <td>{{usuario.nombreUsuario}}</td>
        <td>
          <div class="btn">
            <ng-container *ngIf="!editarRol[i]">
              {{usuario.rol.nombre}}

            </ng-container>
            <ng-container *ngIf="editarRol[i]">
              <select [(ngModel)]="nuevoRol[i]">
                <option id="">Seleccione</option>
                <option *ngFor="let rol of roles" [value]="rol.idRol">
                  {{rol.nombre}}
                </option>
              </select>
              <a href="#" (click)="guardarUsuario(i, $event)"> Guardar</a>

              <a href="#" (click)="cambiarRolModo(i, false, $event)"> Cancelar</a>
            </ng-container>
          </div>
        </td>
        <td>
          <div *ngIf="!editarRol[i]">
            
            <button class="btnEUser"  (click)="cambiarRolModo(i, true, $event)" >Editar</button>
            <button class="btnEUser" (click)="eliminarUsuario(i, $event)"> Eliminar</button>
          </div>
        </td>
      </tr>
    </table>

  </article>
</section>