<section>
  <nav>
    <ul>
      <li><a routerLink="agregar">Agregar Usuario</a>
   
      <li><a href="#"></a></li>
    </ul>
  </nav>


  <article>
    <h3>Usuarios</h3>
    <table>
      <tr>
        <th>Nombre Usuario</th>
        <th>Rol</th>
        <th></th>
      </tr>
      <tr *ngFor="let usuario of usuarios">
        <td>{{usuario.nombreUsuario}}</td>

        <td>{{usuario.rol.nombre}}</td>
      
      <td>
        <div>
          <a (click)="editarRol(rol)">Editar</a>
          <a> Eliminar</a>
      </div>
      </td>
      </tr>
    </table>

  </article>
</section>