/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: #454746;
    padding: 5px;
    text-align: center;
    font-size: 35px;
    color: rgb(27, 30, 31);
    background-image:url("/assets/img/bannerEdificio.jpg");
    height: 120px;
    
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 15%;
    height: 800px; /* only for demonstration, should be removed */
    background:rgb(194, 197, 196);
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 50px;
    width: 70%;
    background-color: white;
    height: 500px; /* only for demonstration, should be removed */
    
  }
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
    
  }
  
  /* Style the footer */
  footer {
    background-color: rgb(125, 149, 161);
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  .list2{
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: #333;
}
.h3 .h4 .h5{
  text-align: center;
  margin: auto;
  text-align: center;
  color:#07597E;
}

.list {
  float: left;
}

.list a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.list a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #5c9ebd;
}
.elementos{
  margin:auto;
  width: 40%;
  padding: 10px;
  height: 400px;
}

.container{
  margin: auto;
  position: absolute;
}

.seleccionUnidad{
  width: 350px;
  height: 300px;
}
p{
  color: black;
}


.Botones{
   margin: 5px;
   background-color:rgb(156, 205, 224);
   border-radius: 8px;
   height: 40px;
}
.barraAutenticacion{
  text-align: right;
  background:#4097fa;
  color:white;
}
.active{
  background-color:#f5f9fa;
  color: red;
}
a{
  color:black;
}
.centrar{
  margin: auto;
  width: 80%;
  padding: 10px;
}
.centrarAsignacion{
  margin: auto;
  width: 120%;
  padding: 10px;
}


.contenedor{
   margin: auto;
   width: 80%;
   padding: 10px;
   border-radius: 5px 5px 5px 5px;
}
.contenedoAsignacion{
  margin: auto;
  width: 120%;
  padding: 10px;
  border-radius: 5px 5px 5px 5px;
}


.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: rgb(184, 186, 187); 
   
 }
 
 table > thead >  tr> th > mfdefaultsorter > a {
  color: #ffffff !important;
  font-weight: bold;
}

table >tbody > mfdefaultsorter{
  background-color: cadetblue;
}


 .warning{
   color: red;
 }